*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}


.container{
    max-width: 1200px;
    margin: auto;
    
}

/* common style */
.common-btn{
    background-color:#1D4ED8 ;
    padding: 10px 25px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

nav {
    
    display: flex;
    justify-content: space-between;
    padding: 12px;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
    color: #575757;
}

ul li a {
    text-decoration: none;
}

